.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-symbol {
  text-transform: uppercase;
}
.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  margin-right: 10%;
  text-align: center;
}

.coin-volume {
  margin-right: 10%;
  text-align: center;
}

.coin-percent {
  width: 80%;
}
.red {
  color: #f00606;
  margin-right: 5%;
  text-align: center;
}
.green {
  color: #11d811;
  margin-right: 5%;
}
@media screen and (max-width: 900px) {
  .coin-row {
    width: 50%;
  }
}
